.tmp*
*.ans
*.log
__pycache__
.DS_Store
.env
venv
.venv
.idea
.nox
dist
.vscode/launch.json
embeddings_cache
~*

perf_test
tests/manual/out.csv
/mindmap/generators/univ_gen/chainer/prompt_generator/generated_prompts/*
/mindmap/completion/project_instructions.py
/mindmap/completion/prompts/
/data/
